*{

margin: 0;
padding: 0;
box-sizing: border-box;
background: silver;
}

section{

height: 100vh;

}

h1{
    margin:0;
    padding:0;
    position: absolute;
    top:40%;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 4em;
    letter-spacing: 0.3em;
}


h1 span{
    display: inline-block;
    animation: efecto 3s linear forwards;
    filter: brightness(1px);
    opacity:0;
    }

    @keyframes efecto{
        0% {
            filter: brightness(10px);
            opacity: 0;
            transform: rotateY(90deg);
        }

        50%{
            filter: brightness(5px);
            opacity: 0;
            transform: rotateY(45deg);
        }

        100%{
            filter: brightness(0px);
            opacity: 1;
            transform: rotateY(0deg);
        }
    }


    h1 span:nth-child(2n)
{
    color: cadetblue;
    animation-delay:1.4s ;
}

h1 span:nth-child(2n-1)
{
    color: darkolivegreen;
    animation-delay:1.8s ;
}

.contenido{
    position:absolute;
    width: 100px;
    height: 100px;
    margin: 0px;
    animation: efecto 3s linear forwards;
    filter: brightness(1px);
    opacity:0;
    }
    
    .contenido .carga1{
    position: absolute;
    top: 570px;
    left: 900px;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color:cadetblue;
    border-left-color:cadetblue;
    border-radius: 50%;
   animation: loader1 1.2s linear infinite;


}

    .contenido .carga2{
        position: absolute;
        top: 570px;
        left: 900px;
        width: 70%;
        height: 70%;
        border: solid 4px transparent;
        border-top-color:darkolivegreen;
        border-left-color:darkolivegreen;
        border-radius: 50%;
        animation: loader2 1.2s linear infinite;
        }
    

    @keyframes loader1 {

        0%{
            transform: translate(-50%,-50%) rotate(0deg);


        }
        100%{
            transform: translate(-50%,-50%) rotate(360deg);

        }
        
    }

    @keyframes loader2 {

        0%{
            transform: translate(-50%,-50%) rotate(360deg);


        }
        100%{
            transform: translate(-50%,-50%) rotate(0deg);

        }
        
    }
